#header-bar {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 32px;
  box-sizing: border-box;
}

#header-bar h1 {
  margin: 0;
}

#header-bar > a {
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
}

#header-bar .main-logo {
  display: block;
  height: 100%;
  width: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}